<div class="container">
    <h3 class="text-primary"> Users List:</h3>
  <div class="row">
    <div class="col-lg-9">
      <a class="btn btn-success btn-sm" (click)="create()">
        <span class="glyphicon glyphicon-plus"></span>CREATE</a>
    </div>
    <div class="col-lg-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">搜索</button>
        </span>
      </div>
    </div>
  </div>
  <!-- <a class="btn btn-success btn-sm" (click)="create()">
    <span class="glyphicon glyphicon-plus"></span>CREATE</a> -->
  

    <nz-table #nzTable [nzDataSource]="users" [nzPageSize]="5" nzShowSizeChanger>
      <thead nz-thead>
        <tr>
          <th nz-th><span>No.</span></th>
          <th nz-th><span>First Name</span></th>
          <th nz-th><span>Last Name</span></th>
          <th nz-th><span>Email</span></th>
          <th nz-th><span>OP</span></th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data; index as i">
          <td nz-td>{{ data.index }}</td>
          <td nz-td>{{ data.first_name }}</td>
          <td nz-td>{{ data.last_name }}</td>
          <td nz-td>{{ data.email }}</td>
          <td nz-td>
            <a class="btn btn-primary btn-xs" (click)="update(data)">
              <span class="glyphicon glyphicon-pencil"></span>EDIT</a>
            <a class="btn btn-danger btn-xs" (click)="destroy(data)">
              <span class="glyphicon glyphicon-remove"></span>DEL</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  <!-- <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>OP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users; let i = index;">
        <td>{{ i+ 1 }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td>
          <a class="btn btn-primary btn-xs" (click)="update(item)">
            <span class="glyphicon glyphicon-pencil"></span>EDIT</a>
          <a class="btn btn-danger btn-xs" (click)="destroy(item)">
            <span class="glyphicon glyphicon-remove"></span>DEL</a>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>